# Spring Boot
/target/

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
build/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear

# Maven
target/
*.
